/* custom stylesheet */

body, html {

    font-family:'Poiret One', cursive;
    background-image: url("./images/background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%
}

.jumbotron {
    
    text-align: center;
    font-family: 'Poiret One', cursive;
    color: rgba(170, 130, 0, 0.883);
    background: none
}
