html {

    font-family:'Poiret One', cursive;
    background-image: url("../images/background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron {
    
    text-align: center;
    font-family: 'Poiret One', cursive;
    color: rgba(170, 130, 0, 0.883);
}
